# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\java_soft\springclould2020\microservicecloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
